/*Background image van home.php */
body {
  background-image: url('afb/Genshin.jpg');
  background-size: cover;
}

/*Het logo in home.php */
 .logo{
   width: 30%;
   height: 30%;
 }
.logo:hover{
  transform: scale(1.03);
}

/*De traveler in home.php */
.traveler{
  top:408px;
  left:240px;
  position: absolute;

}
.traveler:hover {
  transform: scale(1.03);
}

/*Paimon in home.php */
.paimon{
  top: 360px;
  left: 218px;
  position: absolute;
}
.paimon:hover{
  transform: scale(1.03);
}

/*Teleport button in home.php */
.teleport{
  position: absolute;
  left: 74%;
  top: 61%;

}

/*Traveler in battle.php */
.travelerbattle{
  position: absolute;
  left: 50%;
  top: 20%;
}

/*hilichurl in battle.php */
.hilichurl{
  position: absolute;
  left: 10%;
  top: 15%;
}

/*Healthbar van de hilichurl in battle.php */
.healthbar{
  position: absolute;
  left: 15%;
  top: 10%;
}

/*Attack button in battle.php */
.attackbutton{
  position: absolute;
  left: 80%;
  top: 60%;
}
/*Reset knop in battle.php*/
.reset{
  position: absolute;
  left: 3%;
  top: 85%;

}

/*Afbeelding van archive in home.php */
.archive{
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50% -50%);
}

/* Afbeelding van equipment in archive.php */
.equipment{
  position: absolute;
  top: 170px;
  left: 650px;
  transform: translate(-50% -50%);
}

.equipment:hover{
    transform: scale(1.2);
}

/* Afbeelding van character archive in home.php */
.characterarchive{
  position: absolute;
  top: 20%;
  left:90%;
}

/* Afbeelding van Liyue in characterarchive.php */
.liyue{
  position: absolute;
  top: 30%;
  left: 40%;
  height: 60%;
  width: 20%;
}

.liyuetxt{
  position: absolute;
  top: 70%;
  left: 48%;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: white;
}

/* Afbeelding van Mondstadt in characterarchive.php */
.mondstadt{
  position: absolute;
  top: 30%;
  left: 15%;
  height: 60%;
  width: 20%;
}

.mondstadttxt{
  position: absolute;
  top: 70%;
  left: 20%;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: white;
}

/* Afbeelding van Inazuma in characterarchive.php */
.inazuma{
  position: absolute;
  top: 30%;
  left: 65%;
  height: 60%;
  width: 20%;
  box-sizing: border-box;
}

.inazumatxt{
  position: absolute;
  top: 70%;
  left: 72%;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: white;
}

/* Afbeelding van een character in liyuecharacters.php */
.xiao{
  position: absolute;
  top: 5%;
  left: 1%;
  height: 95%;
  width: 40%;
}
/* Afbeelding van een character in liyuecharacters.php */
.ganyu{
  position: absolute;
  top: 5%;
  left: 70%;
  height: 95%;
  width: 25%;
}
/* Afbeelding van een character in liyuecharacters.php */
.zhongli{
  position: absolute;
  top: 5%;
  left: 39%;
  height: 95%;
  width: 25%;
}

/* Afbeelding van een character in mondstadtcharacters.php */
.diluc{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 95%;
  width: 30%;
}
/* Afbeelding van een character in mondstadtcharacters.php */
.jean{
  position: absolute;
  top: 5%;
  left: 32%;
  height: 95%;
  width: 25%;
}

/* Afbeelding van een character in mondstadtcharacters.php */
.venti{
  position: absolute;
  top: 5%;
  left: 70%;
  height: 95%;
  width: 25%;
}
/* Afbeelding van een character in inazumacharacters.php */
.raiden{
  position: absolute;
  top: 5%;
  left: 1%;
  height: 95%;
  width: 40%;
}
/* Afbeelding van een character in inazumacharacters.php */
.kazuha{
  position: absolute;
  top: 5%;
  left: 70%;
  height: 95%;
  width: 25%;
}
/* Afbeelding van een character in inazumacharacters.php */
.ayaka{
  position: absolute;
  top: 5%;
  left: 39%;
  height: 95%;
  width: 25%;
}

/* Afbeelding van een sword in equipment.php */
.aquila{
position: absolute;
height: 10%;
width: 10%;
left: 3%;
top: 10%;
}
/* Afbeelding van een bow in equipment.php */
.amos{
position: absolute;
height: 10%;
width: 10%;
left: 80%;
top: 10%;
}
/* Afbeelding van een claymore in equipment.php */
.gravestone{
position: absolute;
height: 10%;
width: 10%;
left: 42%;
top: 10%;
}
/* Afbeelding van een polearm in equipment.php */
.homa{
position: absolute;
height: 10%;
width: 10%;
left: 60%;
top: 50%;
}
/* Afbeelding van een spellbook in equipment.php */
.lost{
position: absolute;
height: 10%;
width: 10%;
left: 20%;
top: 50%;
}

/* Afbeelding van een terug button in bijna elke pagina */
.terug{
  position: absolute;
  top: ;
  left: ;
  height: 5%;
  width: 5%;
}

.terug:hover{
    transform: scale(1.2);
}

/* Text box in beschrijving.php */
.box1{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background: url(afb/Sky4.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  left: 1%;
  top: 20%;
  font-style: oblique;
}
/* Text box in beschrijving.php */
.box2{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background: url(afb/sky5.png);
  background-repeat: no-repeat;
  background-size: auto;
  left: 1%;
  top: 50%;
}
/* Text box in beschrijving.php */
.box3{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background: url(afb/sky6.png);
  background-repeat: no-repeat;
  background-size: auto;
  left: 74%;
  top: 20%;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box4{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background: url(afb/xiaoimg2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  left: 80%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box5{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background: url(afb/zhongliimg2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  left: 1%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box6{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color: white;
  background: url(afb/ganyuimg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 1%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box7{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color: #FFEBCD;
  background: url(afb/dilucimg2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  left: 75%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box8{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color:;
  background: url(afb/jeanimg2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  left: 80%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box9{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color:;
  background: url(afb/ventiimg3.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  left: 80%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box10{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color: #FFEBCD;
  background: url(afb/kazuhaimg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  left: 75%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box11{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color:#E6E6FA;
  background: url(afb/raidenimg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  left: 80%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box12{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color: ;
  background: url(afb/traveler4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 6%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box13{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color:;
  background: url(afb/traveler3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  left: 80%;
  top: 10%;
  font-style: oblique;
}
/* Text box voor verschillende charcaters binnen characterarchive.php */
.box14{
  position: absolute;
  border: 2px solid black;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  color:;
  background: url(afb/sky5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  left: 80%;
  top: 10%;
  font-style: oblique;
}
